@import "mixins.scss";

.header {
  padding: 40px 10px 0 10px;
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.section-tool {
  background: linear-gradient(
    0deg,
    #98c3e8 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );

  padding: 100px 10px 190px 10px;

  .container-represent {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
  }

  .represent-items {
    display: flex;
    flex-direction: column;

    &__title {
      font-family: "Montagu Slab", serif;
      font-size: 50px;
      line-height: 74px;
      color: #1f3f68;
      margin-bottom: 32px;
      max-width: 510px;
    }

    &__subtitle {
      font-family: "Urbanist", sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1f3f68;
      opacity: 0.6;
      margin-bottom: 71px;
      max-width: 425px;
    }

    &-buttons {
      .represent-items__button {
        padding: 15px 48px;
        background: #5a98d0;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        font-family: "Gilroy";
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
        font-family: "Urbanist", sans-serif;
      }
    }
  }
  .represent-img {
    position: relative;

    img {
      position: absolute;
      top: -62px;
      left: -64px;
    }
  }
}

.section-what-we-do {
  padding: 180px 0 100px 0;
  .container {
    max-width: 940px;
    margin: 0 auto;
    font-family: "Urbanist", sans-serif;
  }

  .container-features {
    display: grid;
    grid-template-areas:
      "  title technology "
      " business technology"
      "business digital"
      "  . digital";
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .features__title {
      grid-area: title;
    }
    .features-items_business {
      grid-area: business;
    }
    .features-items_technology {
      grid-area: technology;
    }

    .features-items_digital {
      grid-area: digital;
    }
  }

  .features__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    max-width: 359px;
  }

  .features-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    padding: 48px 0px;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    &-description {
      max-width: 274px;
      display: flex;
      flex-direction: column;
    }

    &-img {
      margin-bottom: 50px;
    }
    &__title {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.05em;
      color: #1f3f68;
      margin-bottom: 16px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1f3f68;
      opacity: 0.6;
      margin-bottom: 32px;
    }

    &-preview {
      display: flex;
      gap: 28px;

      span {
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #5a98d0;
      }
    }
  }
}

.section-projects {
  padding: 92px 10px 192px 10px;

  .container-products {
    max-width: 940px;
    margin: 0 auto;
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
  }
  .products-description {
    display: flex;
    gap: 93px;
    margin-bottom: 96px;

    &__title {
      max-width: 227px;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #1f3f68;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1f3f68;
      opacity: 0.6;
      max-width: 540px;
    }
  }
  .products-home {
    padding: 48px 49px 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: url(/src/assets/img/project/smart-home.jpg);
    margin-bottom: 96px;
    border-radius: 10px;

    &-description {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
    }

    &__title {
      position: relative;
      z-index: 82;
      font-size: 28px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #ffffff;
    }

    &__subtitle {
      position: relative;
      z-index: 81;
      font-size: 16px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #ffffff;
      opacity: 0.8;
    }

    &-img {
      position: relative;
      z-index: 83;
    }
  }
  .products-home::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(
      89.99deg,
      #1f3f68 3.62%,
      rgba(31, 63, 104, 0.37) 97.78%
    );
    opacity: 0.9;
    z-index: 1;
    border-radius: 10px;
  }
  .products-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-app {
      position: relative;
      min-width: 422px;
      min-height: 417px;
      padding: 24px 0 0 32px;
      background: no-repeat url(/src/assets/img/project/phone-app.jpg);
      border-radius: 10px;

      &__title {
        position: relative;
        z-index: 85;
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #ffffff;
        margin-bottom: 4px;
      }
      &__subtitle {
        position: relative;
        z-index: 85;
        font-size: 16px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
  .products-items-app::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(
      308.85deg,
      rgba(66, 165, 245, 0.4) -1.71%,
      rgba(21, 101, 192, 0.6) 74.54%
    );
    border-radius: 10px;
    z-index: 55;
  }
}

.section-client {
  background: #5a98d0;
  border-radius: 200px 0px 0px 0px;
  padding: 96px 10px 125px 30px;
  .container-client {
    max-width: 940px;
    margin: 0 auto;
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
  }

  .client-description {
    display: flex;
    gap: 97px;
    margin-bottom: 111px;

    &__title {
      font-size: 36px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #ffffff;
    }
    &__text {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #ffffff;
      opacity: 0.6;
      max-width: 540px;
    }
  }
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 235px;
      min-height: 128px;

      &__name {
        font-size: 20px;
        line-height: 46px;
        letter-spacing: 0.02em;
        color: #f2f2f2;
      }
    }
    @include nth-child__border;

    .client-list-item:nth-last-child(1) {
      background: #1f3f68;
      background: rgba(0, 0, 0, 0.2);
      border-right: transparent;
    }
  }
  // Section joinus
  .section-join {
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    padding: 90px 0 96px 0;

    .container-join {
      max-width: 940px;
      margin: 0 auto;
      font-family: "Urbanist", sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .join-description {
      display: flex;
      flex-direction: column;
      gap: 32px;
      // margin-bottom: 96px;

      &__title {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #ffffff;
        max-width: 317px;
      }

      &__text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #ffffff;
        opacity: 0.6;
        max-width: 460px;
      }
    }
    .join-buttons {
      .join__button {
        padding: 15px 75px;
        background: #5a98d0;
        border-radius: 10px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
        font-family: "Urbanist", sans-serif;
      }
    }
  }
  .separator {
    max-width: 1250px;
    background: #f2f2f2;
    opacity: 0.4;
    border: 1px solid #ffffff;
  }
  // Fotter start
}
